@using System.Data
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="jack">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,
 		user-scalable=no" />
    <!-- 适应手机屏幕，防止屏幕缩放 -->
    <!--样式-->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/weui.css" rel="stylesheet" />
    <link href="~/Content/jquery-weui.css" rel="stylesheet" />
    <title>奖金支出明细</title>
    <style type="text/css">
        #right_div {
            float: left;
        }

        #right_div1 {
            width: 100%;
            overflow: hidden;
        }

        #right_divx {
            width: 100%;
        }

        #right_div2 {
            margin-top: -20px;
            width: 100%;
            height: 400px;
            overflow: auto;
        }

        #right_table1 {
            width: 100%;
        }

            #right_table1 th {
                background: #E9F8FF;
                text-align: center;
                width: 20%;
            }

        #right_table2 td {
            width: 20%;
            text-align: center;
        }
    </style>
</head>

<body>
  
   

         <div class="weui-cell"  > 
        <div class="weui-cell__hd"><label    class="weui-label">请选择类型</label></div>
        <div class="weui-cell__bd">
            @if (ViewBag.isYeOrNO == "yes")
            {
                <select class="weui-select" name="select2" id="Updepart" onchange="DepOrEmp()" >
                    <option value="1"> 个人</option>
                    <option value="0"> 奖金项</option>
                </select>
            }
            else
            {
                <select class="weui-select" name="select2" id="Updepart" disabled="disabled">
                    <option value="1"> 个人</option>
                    <option value="0"> 奖金项</option>
                </select>
            }
            
        </div>
    </div>
   
    <div class="weui-cells__title">选择日期</div>
    <div class="weui-cell">
        <div class="weui-cell__ft" style="border:1px solid; width:38%;">
            <input class="weui-input" type="date" value="" id="startTime">
        </div> <span style="color:gray;margin:3px;">到</span>
        <div class="weui-cell__ft" style="border:1px solid; width:38%;">
            <input class="weui-input" type="date" value="" id="endTime">
        </div>
        <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary" onclick="selectData()">查询</a>
    </div>
    <input type="text" value="@ViewBag.disManID " id="disManID" hidden="hidden"/>
    <div id="doubleDiv">
        @*奖金项支出明细*@
        <div id="DepDetail">
            @if (ViewBag.Dep == null)
            {
                <br />
                <br />
                <center><span style="color:gray">暂无数据</span></center>
            }
            else
            {
                <div id="right_div">
                    <div id="right_div1">
                        <div id="right_divx">
                            <table id="right_table1" class="table table-bordered">
                                <tr>
                                    <th>奖金项</th>
                                    <th>发放人</th>
                                    <th>受益方 </th>
                                    <th>金额</th>
                                    <th>日期</th>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div id="right_div2">
                        <table id="right_table2" class="table table-bordered">
                            @if (ViewBag.Dep != null)
                            {
                                DataTable dsDep = ViewBag.Dep;
                                for (int i = 0; i < dsDep.Rows.Count; i++)
                                {
                                    <tr onclick="javascript: document.getElementById('@dsDep.Rows[i]["BonusDataID"]').click();">
                                        <td>@dsDep.Rows[i]["BIName"]</td>
                                        <td>@dsDep.Rows[i]["Name"]</td>
                                        <td>@dsDep.Rows[i]["EarMan"]</td>
                                        <td>@dsDep.Rows[i]["EarMoney"]</td>
                                        <td><span style="font-size:5px">@dsDep.Rows[i]["DisDate"]</span></td>

                                        <td id="bonusID" hidden="hidden"><a href="/DepartBouns/Detail2?depBounsID=@dsDep.Rows[i]["BonusDataID"]" id="@dsDep.Rows[i]["BonusDataID"]"></a></td>
                                    </tr>
                                }
                            }
                            else
                            {

                            }

                        </table>
                    </div>
                </div>
            }
        </div>

        @*个人交易支出明细*@
        <div id="EmpDetail">
            @if (ViewBag.Emp == null)
        {
        <br />
        <br />
        <center><span style="color:gray">暂无数据</span></center>
        }
        else
        {
        <div id="right_div">
            <div id="right_div1">
                <div id="right_divx">
                    <table id="right_table1" class="table table-bordered">
                        <tr>
                            @*<th>奖金项</th>*@
                            <th>支出金额</th>
                            <th>受益人</th>
                            <th>支出日期</th>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="right_div2">
                <table id="right_table2" class="table table-bordered">
                    @if (ViewBag.Emp != null)
                        {
                            DataTable dsEmp = ViewBag.Emp;
                            for (int i = 0; i < dsEmp.Rows.Count; i++)
                            {
                        <tr onclick="javascript: document.getElementById('@dsEmp.Rows[i]["BonusDataID"]').click();">
                            @*<td>@dsEmp.Rows[i]["BIName"]</td>*@
                            <td>@dsEmp.Rows[i]["EarMoney"]</td>
                            <td>@dsEmp.Rows[i]["Name"]</td>
                            <td>@dsEmp.Rows[i]["DisDate"]</td>
                            <td id="bonusID" hidden="hidden"><a href="/DepartBouns/Detail2?depBounsID=@dsEmp.Rows[i]["BonusDataID"]" id="@dsEmp.Rows[i]["BonusDataID"]"></a></td>
                        </tr>
                            }
                        }
                        else
                        {

                        }

                </table>
            </div>
        </div>
        }
        </div>
        </div>
        <!--脚本-->
        <script src="~/scripts/jquery-1.10.2.js"></script>
        <script src="~/scripts/bootstrap.min.js"></script>
        <script type="text/javascript">
            //判断开始日期是否大于结束日期
            function selectData() {
                var startTime = $("#startTime").val();
                var endTime = $("#endTime").val();
                var disManIDS = $("#disManID").val();
                if (startTime.length > 0 && endTime.length > 0) {
                    var startTmp = startTime.split("-");
                    var endTmp = endTime.split("-");
                    var sd = new Date(startTmp[0], startTmp[1], startTmp[2]);
                    var ed = new Date(endTmp[0], endTmp[1], endTmp[2]);
                    if (sd.getTime() > ed.getTime()) {
                        alert("开始日期不能大于结束日期");
                        return false;
                    }
                }
                if (startTime == "" || endTime == "" || disManIDS == "" || startTime == null || endTime == null || disManIDS == null) {

                } else {
                    $("#doubleDiv").load("/BonusPay/SelectDismanPay", { StartTime: startTime, EndTime: endTime, disManID: disManIDS });
                    //$.post("/BonusDataQuery/SelectEmpTime", { StartTime: startTime, EndTime: endTime, EmpID: empBounsID })
                }

            }


            $(function () {
                if ($("#Updepart").val() == "0") {
                    $("#EmpDetail").hide();
                    $("#DepDetail").show();
                } else if ($("#Updepart").val() == "1") {
                    $("#DepDetail").hide();
                    $("#EmpDetail").show();
                }
            })
            function DepOrEmp() {
                if ($("#Updepart").val() == "0") {
                    $("#EmpDetail").hide();
                    $("#DepDetail").show();
                } else if ($("#Updepart").val() == "1") {
                    $("#DepDetail").hide();
                    $("#EmpDetail").show();
                }
            }


            //固定和滚动
            var right_div2 = document.getElementById("right_div2");
            right_div2.onscroll = function () {
                var right_div2_top = this.scrollTop;
                var right_div2_left = this.scrollLeft;
                document.getElementById("right_div1").scrollLeft = right_div2_left;
            }

        </script>
</body>
</html>
